/*   ------------------NAVBAR-------------------   */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
}

.nav-left .site-title {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.nav-right a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-right a:hover {
    background-color: #444;
}

.nav-right a.active {
    background-color: #444;
    border-radius: 4px;
    pointer-events: none;
}

/*  ------------------FOOTER-------------------  */
.site-footer {
    background-color: #222;
    color: white;
    padding: 15px 20px;
    text-align: center;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-content a{
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
}

.footer-content a:hover {
    opacity: 0.8;
}

.social-links img{
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s;
}

.social-links img:hover{
    filter: brightness(0.8) invert(1);
}

/*  --------------------BODY---------------------  */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #757575;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

section {
    margin-bottom: 40px;
}

.content-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    margin-bottom: 40px;
}

.content-section.reverse {
    flex-direction: row-reverse;
}

.text-box {
    flex: 1;
    min-width: 300px;
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.media-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.media-item {
    flex: 1 1 45%;
    max-width: 45%;
    aspect-ratio: 16 / 9;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #757575;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #575757;
}

.floating-text h1 {
        float: left;
        font-size: 3em;
        margin-right: 20px;
    }

@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
    }
}